# This file contains all the environment variables that are used in the project.

# Azure OpenAI East US 2 Realtime
AZURE_OPENAI_EASTUS2_ENDPOINT=wss://<your endpoint>.openai.azure.com
AZURE_OPENAI_EASTUS2_API_KEY="<your api key>"
AZURE_OPENAI_REALTIME_DEPLOYMENT=gpt-4o-realtime-preview
AZURE_OPENAI_REALTIME_CHAT_DEPLOYMENT_VERSION=2024-10-01-preview

# Azure OpenAI East US
AZURE_OPENAI_EASTUS_ENDPOINT=https://<your endpoint>openai.azure.com/
AZURE_OPENAI_EASTUS_API_KEY="<your api key>"
AZURE_OPENAI_API_VERSION=2024-08-01-preview
AZURE_OPENAI_GPT4O_DEPLOYMENT=gpt-4o
AZURE_OPENAI_GPT4O_MINI_DEPLOYMENT=gpt-4o-mini
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-large

# Azure Blob Storage
AZURE_STORAGE_ACCOUNT_NAME=your-storage-account-name
AZURE_STORAGE_CONTAINER_NAME=storage-container-name

# Azure Document Intelligence
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=your-doc-intelligence-endpoint
AZURE_DOCUMENT_INTELLIGENCE_KEY=your-doc-intelligence-key